 .header {
     height: 70px;
     display: flex;
     align-items: center;
     /* background-color: #252b5a; */
     justify-content: space-evenly;
     /* position: sticky; */
     background-color: rgba(7, 56, 16, 0.5);
     /*url('pic4.jpg') center/cover no-repeat; */
     top: 25px;
     z-index: 100;
 }
 
 .homeContainer {
     min-height: 100vh;
 }
 
 .header_logo {
     width: 140px;
     cursor: pointer;
     padding-left: 0%;
     object-fit: contain;
     margin-top: 5px;
 }
 
 .p {
     color: white;
     padding-right: 20px;
     padding-left: 20px;
 }
 
 .hl {
     display: flex;
     flex-direction: row;
 }
 
 .hn {
     padding-left: 0%;
 }
 
 .header_search {
     display: flex;
     flex: 1;
     align-items: center;
     border-radius: 24px;
 }
 
 .header_searchicon {
     color: white;
     padding: 5px;
     height: 22px !important;
     background-color: #6abbcf;
 }
 
 .header_optionlineone {
     font-size: 10px;
     text-decoration: none;
 }
 
 .header_optionlinetwo {
     text-decoration: none;
     font-size: 13px;
     font-weight: 600;
 }
 
 .header_optionbasket {
     padding-left: 40px;
     display: flex;
     align-items: center;
     color: white;
 }
 
 .header_nav {
     display: flex;
     justify-content: space-evenly;
 }
 
 .header_basketcount {
     margin: 0 10px;
 }
 
 .header_option {
     display: flex;
     flex-direction: column;
     margin: 0 10px;
     color: white;
 }
 /**/
 
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 1rem 0;
     border-bottom: 1.5px solid #fff;
 }
 
 .navbar-brand {
     font-size: 1.2rem;
     font-weight: 800;
     color: #fff;
 }
 
 .navbar-toggler {
     z-index: 1000;
     padding: 0.2rem 0.4rem;
     font-size: 1.6rem;
     border: none;
     background: none;
     color: #fff;
     transition: var(--transition);
 }
 
 .navbar-toggler:hover {
     color: var(--brown);
 }
 
 .nav-btns,
 .nav-icons {
     display: none;
 }
 
 .navbar-collapse {
     margin-top: 10px;
     z-index: 999;
     position: absolute;
     top: 0;
     right: 0;
     background: #000;
     height: 100%;
     width: 0;
     overflow: hidden;
     transition: var(--transition);
 }
 
 .nav-item {
     margin: 0.7rem 0;
     padding: 1rem 0;
     text-align: center;
 }
 
 .nav-link {
     color: var(--brown);
     text-transform: uppercase;
     letter-spacing: 1.3rem;
     font-size: 1.3rem;
     transition: var(--transition);
 }
 
 .nav-link:hover {
     text-shadow: 0 0 4px #fff;
     color: #fff;
 }
 
 .navbar-nav {
     margin-top: 7rem!important;
     width: 90vw;
     margin: 0 auto;
 }
 
 .navbar container {
     width: 88%;
     margin: auto;
     padding: 15px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 @media (max-width:500px) {
     .header {
         display: flex;
         align-items: center;
         /* background-color: #252b5a; */
         justify-content: space-evenly;
         /* position: sticky; */
         background-color: rgba(7, 56, 16, 0.5);
         /*url('pic4.jpg') center/cover no-repeat; */
         top: 25px;
         z-index: 100;
     }
     .header_logo {
         width: 1px;
         cursor: pointer;
         padding-left: 0%;
         object-fit: contain;
         margin-top: 5px;
     }
     .p {
         color: white;
         padding-right: 10px;
         padding-left: 10px;
         font-size: 11px;
     }
     .header_optionlineone {
         font-size: 12px;
         text-decoration: none;
     }
     .header_optionlinetwo {
         text-decoration: none;
         font-size: 12px;
         font-weight: 600;
     }
 }