.Homebg {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(161, 140, 140, 0.5)), url('pic4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width:500px) {
    .Homebg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(161, 140, 140, 0.5)), url('pic4.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}